<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>shopping cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/shoppingItems.css">
  </head>
  <body>
    <!-- This is the hamburger menu bar -->
    <div class="w3-sidebar w3-bar-block w3-border-right w3-animate-left" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">&times;</button>
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/items" class="w3-bar-item w3-button"> Items</a>
  <a href="/cart" class="w3-bar-item w3-button">Show Cart</a>
  <a href="/signin" class="w3-bar-item w3-button">login</a>
  </div>
  <button class="w3-button w3-xlarge" id="hamburger" onclick="w3_open()">☰</button>
  <!-- End of hamburger nav bar -->