<% include partials/itemheader.ejs %>
  <span class="fa fa-cart-plus" id="cartPic" value="0">0</span>
    <h1 id="Heading" class="jumbotron"> Products </h1>
    <div class="container">
    <section id = "showitems">
    </section>
  </div>
<% include partials/itemfooter.ejs %>
  
