<% include partials/cartheader.ejs %>
    <h1 id="welcome">Welcome to your cart</h1>
    <div id="show" class="container">
                <table class="table table-striped">
                    <thead>
                      <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col">Gross</th>
                              <th scope="col" rowspan="*">TOTAL</th>
                              <th scope="col">Operations</th>
                      </tr>
                    </thead>
            <tbody id="tbdy">
            </tbody>
</table>
<hr> </hr>
<div class="calculation well">
  The total price becomes : <span id="calc">Rs.</span> inc gst.
  <button class="btn btn-success btn-large pull-right" id="placeOrder"> Place Order </button>
</div>
    </div>
    
<% include partials/cartfooter.ejs %>