<% include partials/autheader.ejs %>
<form action="/signup" method="POST" id="forms">
    <div class="container">
      <h3>Signup</h3>  
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="email"> Email </label>
        <input type="email" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit" name="submit" id="submit">Submit</button>
    </div>
   </form>
</div>
   <% include partials/authfooter %>